<h1 style="color: blue">Welcome to CS Corner</h1>

<h4>Aplikasi: </h4>
<p>{{ app }}</p>

<h4>Name: </h4>
<p>{{ name }}</p>
 
<h4>Class: </h4>
<p>{{ class }}</p> 

<a href="{% url 'main:create_items' %}">
  <button style="background-color: rgba(0, 136, 255, 0.368); color: black;">+ Add Product</button>
</a>
<a href="{% url 'main:logout' %}">
  <button style="background-color: rgba(0, 136, 255, 0.368); color: black;">Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<hr>

<a href="?filter=all">
    <button type="button" style="background-color: rgba(0, 136, 255, 0.368); color: black;">All Products</button>
</a>
<a href="?filter=my">
    <button type="button" style="background-color: rgba(0, 136, 255, 0.368); color: black;">My Products</button>
</a> 

{% if not items_list %}
<p>Belum ada informasi produk pada CS Corner.</p>
{% else %}

{% for items in items_list %}
<div>
    <h2><a href="{% url 'main:show_items' items.id %}">{{ items.name }}</a></h2>
    <p><b>{{ items.get_category_display }}</b>{% if items.is_featured %} |
        <b>Featured</b> | <b>Price:</b> Rp{{ items.price }}{% endif %} | Views: {{ items.items_views }}</p>

    {% if items.thumbnail %}
    <img src="{{ items.thumbnail }}" alt="thumbnail" width="150" height="100">
    <br />
    {% endif %}

    <p>{{ items.description|truncatewords:25 }}...</p>

    <p><a href="{% url 'main:show_items' items.id %}"><button style="background-color: rgba(0, 136, 255, 0.368); color: black;">Read More</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}